<link rel="stylesheet" href="/css/team.css">
<div id="progress">
    <span id="progress-value">&#x1F815;</span>
</div>
<section id="team">
    <div id="head">
        <div id="sub-head">
            <h1 id="title">Team</h1>
            <p id="write">
                <a href="#" style="color: white; margin-right: 4px; ">Home</a>
                <span style="color: #FFF;margin-right: 4px;">></span>
                <a href="/team" style="color: #f4913f;margin-right: 4px;">Team</a>
            </p>
        </div>
    </div>

    <section id="Our_member">
        <div id="heading">
            <figure class="text-center">
                <blockquote class="blockquote" style="color: black;
                    font-weight: 800;">
                    <h2 class="hr-lines">Our Leaderships</h2>
                </blockquote>
                <div style="text-align: center;">
                    <p class="torch">OUR TORCHBEARERS FOR THE PATH</p>
                </div>
                <br>
            </figure>
        </div>
        <div id="main" data-aos="fade-up">
            <div class="card" style="width: 18rem;">
                <img src="/images/director.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Prof. S.K. Sinha</h3>
                    <h6 style="color: #7cc576;">DIRECTOR</h6>
                    <br>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/incharge.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Mr. Arvind Kumar Tiwari</h3>
                    <h6 style="color: #7cc576;">OFFICER IN-CHARGE, IISC</h6>
                    <br>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/manager.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Mr. Mayank Srivastava</h3>
                    <h6 style="color: #7cc576;">INNCUBATION MANAGER</h6>
                    <br>

                </div>
            </div>
        </div>
    </section>


    <section id="ourmembers">
        <h2 class="hr-lines" style="margin-bottom: 50px;">Our Team Members</h2>
        <!-- <div style="text-align: center;">

            <h4 style="color: grey; margin-bottom: 10px;">Startups Incubated by IISC,KNIT Sultanpur</h4>
        </div> -->


        <a href="#" class="tabs">All</a>
        <a href="#" class="tabs">Overall Coordinator</a>
        <a href="#" class="tabs">Event Management</a>
        <a href="#" class="tabs">Public Relations and marketing</a>
        <a href="#" class="tabs">Research Analysis and corporate</a>
        <a href="#" class="tabs">Designing & Media Team</a>
        <a href="#" class="tabs">Web Development Team</a>

        <div class="image-container" data-aos="fade-right">
            
            
            <img src="images/aniket.png" alt="" data-album="album 1">
            <img src="images/smiriti.jpg" alt="" data-album="album 1">
            <img src="images/amitesh.jpg" alt="" data-album="album 1">
            <img src="images/mayank.jpg" alt="" data-album="album 2">
            <img src="images/devesh.jpg" alt="" data-album="album 2">
            <img src="images/ashutosh.jpg" alt="" data-album="album 2">
            <img src="images/deepanshi.jpg" alt="" data-album="album 3">
            <img src="images/rishi.jpg" alt="" data-album="album 3">
            <img src="images/avi.jpg" alt="" data-album="album 4">
            <img src="images/nikita.jpg" alt="" data-album="album 4">
            <img src="images/gaurav.jpg" alt="" data-album="album 5">
            <img src="images/abhishek.jpg" alt="" data-album="album 5">
            <img src="images/shivang.jpg" alt="" data-album="album 6">
            <img src="images/arti.jpg" alt="" data-album="album 6">
            <img src="images/maneesh.jpg" alt="" data-album="album 6">
            <img src="images/shivansh.jpg" alt="" data-album="album 6">

        </div>
    </section>
</section>